.mySelect{
    width: 40%;
}

.custom-title{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.moreActions{
    display: none;
/*    background-color: blue; */
}

.anomalieVH{
    background-color: red;
}

.absence{
    background-color: orange;
}

.absenceHeure{
    background-color: darkgoldenrod;
}

.selfInline{
    display: inline;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1%;
}